
#u2512.mouseOver {
}
#u2513 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u2507_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2514 {
  position:absolute;
  left:20px;
  top:20px;
  width:72px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u2515 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u2515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2516 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2517 {
  position:absolute;
  left:42px;
  top:0px;
  width:30px;
  height:20px;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u2517_img.selected {
}
#u2517.selected {
}
#u2517_img.mouseOver {
}
#u2517.mouseOver {
}
#u2518 {
  position:absolute;
  left:3px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u2519 {
  position:absolute;
  left:20px;
  top:40px;
  width:96px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u2520 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522 {
  position:absolute;
  left:42px;
  top:0px;
  width:54px;
  height:20px;
}
#u2522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u2522_img.selected {
}
#u2522.selected {
}
#u2522_img.mouseOver {
}
#u2522.mouseOver {
}
#u2523 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u2524 {
  position:absolute;
  left:20px;
  top:60px;
  width:96px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u2525 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u2525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2526 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2527 {
  position:absolute;
  left:42px;
  top:0px;
  width:54px;
  height:20px;
}
#u2527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u2527_img.selected {
}
#u2527.selected {
}
#u2527_img.mouseOver {
}
#u2527.mouseOver {
}
#u2528 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u2529 {
  position:absolute;
  left:5px;
  top:80px;
  width:320px;
  height:36px;
  text-align:left;
}
#u2529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:37px;
}
#u2530 {
  position:absolute;
  left:5px;
  top:8px;
  width:313px;
  word-wrap:break-word;
}
#u2531 {
  position:absolute;
  left:330px;
  top:80px;
  width:685px;
  height:565px;
}
#u2531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:566px;
}
#u2532 {
  position:absolute;
  left:2px;
  top:274px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2533 {
  position:absolute;
  left:330px;
  top:80px;
  width:685px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#666666;
  text-align:left;
}
#u2533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:37px;
}
#u2534 {
  position:absolute;
  left:5px;
  top:8px;
  width:678px;
  word-wrap:break-word;
}
#u2535 {
  position:absolute;
  left:340px;
  top:179px;
  width:328px;
  height:26px;
}
#u2535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:26px;
  background-image:none;
  background-color:#FAFAFA;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2535_input {
  font-family:'微软雅黑';
}
#u2536 {
  position:absolute;
  left:340px;
  top:157px;
  width:158px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u2536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:21px;
}
#u2537 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u2538 {
  position:absolute;
  left:677px;
  top:179px;
  width:328px;
  height:26px;
}
#u2538_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:26px;
  background-image:none;
  background-color:#FAFAFA;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2538_input {
  font-family:'微软雅黑';
}
#u2539 {
  position:absolute;
  left:677px;
  top:157px;
  width:158px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u2539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:21px;
}
#u2540 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u2541 {
  position:absolute;
  left:642px;
  top:179px;
  width:26px;
  height:25px;
}
#u2541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u2541_img.mouseDown {
}
#u2541.mouseDown {
}
#u2542 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2543 {
  position:absolute;
  left:979px;
  top:179px;
  width:26px;
  height:25px;
}
#u2543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u2543_img.mouseDown {
}
#u2543.mouseDown {
}
#u2544 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2545 {
  position:absolute;
  left:330px;
  top:609px;
  width:685px;
  height:36px;
}
#u2545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:37px;
}
#u2546 {
  position:absolute;
  left:2px;
  top:10px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2547 {
  position:absolute;
  left:865px;
  top:614px;
  width:70px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u2547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u2547_img.mouseOver {
}
#u2547.mouseOver {
}
#u2547_img.mouseDown {
}
#u2547.mouseDown {
}
#u2547_img.disabled {
}
#u2547.disabled {
  opacity:0.5;
}
#u2548 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2549 {
  position:absolute;
  left:940px;
  top:614px;
  width:70px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#5A5A5A;
}
#u2549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u2549_img.mouseOver {
}
#u2549.mouseOver {
}
#u2549_img.mouseDown {
}
#u2549.mouseDown {
}
#u2549_img.disabled {
}
#u2549.disabled {
}
#u2550 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2551 {
  position:absolute;
  left:330px;
  top:116px;
  width:685px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#999999;
  text-align:left;
}
#u2551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:37px;
}
#u2552 {
  position:absolute;
  left:10px;
  top:8px;
  width:673px;
  word-wrap:break-word;
}
#u2553 {
  position:absolute;
  left:12px;
  top:121px;
  width:118px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#5A5A5A;
  text-align:left;
}
#u2553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
}
#u2553_img.mouseOver {
}
#u2553.mouseOver {
}
#u2553_img.mouseDown {
}
#u2553.mouseDown {
}
#u2553_img.disabled {
}
#u2553.disabled {
}
#u2554 {
  position:absolute;
  left:30px;
  top:5px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2555 {
  position:absolute;
  left:18px;
  top:126px;
  width:16px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2556 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557 {
  position:absolute;
  left:115px;
  top:94px;
  width:10px;
  height:10px;
}
#u2557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559 {
  position:absolute;
  left:68px;
  top:86px;
  width:68px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2560 {
  position:absolute;
  left:40px;
  top:123px;
  width:85px;
  height:20px;
  font-size:14px;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
