
#u2383 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384 {
  position:absolute;
  left:108px;
  top:162px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#5A5A5A;
  text-align:left;
}
#u2384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2384_img.mouseOver {
}
#u2384.mouseOver {
}
#u2384_img.mouseDown {
}
#u2384.mouseDown {
}
#u2384_img.disabled {
}
#u2384.disabled {
}
#u2385 {
  position:absolute;
  left:30px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386 {
  position:absolute;
  left:114px;
  top:167px;
  width:16px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2387 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2388 {
  position:absolute;
  left:140px;
  top:162px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#5A5A5A;
  text-align:left;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2388_img.mouseOver {
}
#u2388.mouseOver {
}
#u2388_img.mouseDown {
}
#u2388.mouseDown {
}
#u2388_img.disabled {
}
#u2388.disabled {
}
#u2389 {
  position:absolute;
  left:30px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390 {
  position:absolute;
  left:146px;
  top:167px;
  width:14px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2391 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392 {
  position:absolute;
  left:173px;
  top:162px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#5A5A5A;
  text-align:left;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2392_img.mouseOver {
}
#u2392.mouseOver {
}
#u2392_img.mouseDown {
}
#u2392.mouseDown {
}
#u2392_img.disabled {
}
#u2392.disabled {
}
#u2393 {
  position:absolute;
  left:30px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394 {
  position:absolute;
  left:179px;
  top:167px;
  width:16px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
